/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  background-image: linear-gradient(90deg, #00beff, #005fff);
}
#main {
  background-image: linear-gradient(90deg, #000, #17171f);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  height: 300px;
  width: 300px;
  box-shadow: 0 0 15px #000;
}
#main #disp {
  background: none;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 110%;
  left: 50%;
  border: none;
  text-align: center;
  font-family: monospace;
  font-size: 25px;
  outline: none;
}
#x1y1 {
  background: #000;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50px;
  left: 50px;
  height: 95px;
  width: 95px;
  border-color: #fff;
  border-style: solid;
}
#x2y1 {
  background: #000;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50px;
  left: 150px;
  height: 95px;
  width: 95px;
  border-color: #fff;
  border-style: solid;
}
#x3y1 {
  background: #000;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50px;
  left: 250px;
  height: 95px;
  width: 95px;
  border-color: #fff;
  border-style: solid;
}
#x1y2 {
  background: #000;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 150px;
  left: 50px;
  height: 95px;
  width: 95px;
  border-color: #fff;
  border-style: solid;
}
#x2y2 {
  background: #000;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 150px;
  left: 150px;
  height: 95px;
  width: 95px;
  border-color: #fff;
  border-style: solid;
}
#x3y2 {
  background: #000;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 150px;
  left: 250px;
  height: 95px;
  width: 95px;
  border-color: #fff;
  border-style: solid;
}
#x1y3 {
  background: #000;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 250px;
  left: 50px;
  height: 95px;
  width: 95px;
  border-color: #fff;
  border-style: solid;
}
#x2y3 {
  background: #000;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 250px;
  left: 150px;
  height: 95px;
  width: 95px;
  border-color: #fff;
  border-style: solid;
}
#x3y3 {
  background: #000;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 250px;
  left: 250px;
  height: 95px;
  width: 95px;
  border-color: #fff;
  border-style: solid;
}
.checkedOrange {
  background: #ffa500 !important;
}
.checkedWhite {
  background: #fff !important;
}

